@import './../../styles/_variables.scss';
@import './../../styles/modules/_sectionBox.scss';
@import './../ProductItem/ProductItem.scss';
@import './../../hocs/withPromoTag/withPromoTag.scss';

.productList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}
