@import '_variables.scss';
@import '_reset.scss';

[class^='icon-'],
[class*=' icon-'] {
    font-size: $l;
}
body {
    background-color: $gray6;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.6rem;
    line-height: 1;
}
h2 {
    font-size: 1.6rem;
    line-height: 1;
}
h3 {
    font-size: 1.4rem;
    line-height: 1;
}
h4 {
    font-size: 1.4rem;
    font-weight: normal;
}
h5 {
    font-size: 1.2rem;
    font-weight: normal;
}
h6 {
    font-size: 1.1rem;
    font-weight: normal;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: $gray5;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: $gray5;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: $gray5;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: $gray5;
}

textarea {
    color: $gray3;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    resize: none;
    min-height: 3em;
    line-height: 1.5em;
    background-color: transparent;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}
:global {
    .centerBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - #{$headerH});
    }
    .ehsPrice {
        font-size: $l;
        color: $orange1;
        font-weight: bold;
        &::before {
            content: '$';
            font-size: $s;
        }
    }
    .ehsDiscount {
        font-size: $s;
        color: $gray3;
        &::before {
            content: '$';
            font-size: $s;
        }
    }
}
